<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="personalAccessToken" value="zkrmldvo7ho3ch7macu7txq3ipsa7gmvzyutdasbeavyhk4qa4yq" />
    <add key="getProjectsUrl" value="https://dev.azure.com/{Organisation}/_apis/projects?api-version=6.0" />
    <add key="getBacklogLevelWorkItemsUrl" value="https://dev.azure.com/{Organisation}/{Project}/{ProjectTeam}/_apis/work/backlogs/Microsoft.RequirementCategory/workItems?api-version=6.0-preview.1" />
    <add key="getWorkItemByIdUrl" value="https://dev.azure.com/{Organisation}/{Project}/_apis/wit/workitems/{0}?$expand=all&amp;api-version=6.1-preview.3" />
    <add key="createWorkItem" value="https://dev.azure.com/{Organisation}" />
  </appSettings>
</configuration>