<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="personalAccessToken" value="6sspbdl7cdcq52f3mik7nenlaxz52lwdzofugjpjdf34x77nbnsq" />
    <add key="getBacklogLevelWorkItemsUrl" value="https://dev.azure.com/{Organisation}/{Project}/{ProjectTeam}/_apis/work/backlogs/Microsoft.RequirementCategory/workItems?api-version=6.0-preview.1" />
    <add key="getWorkItemByIdUrl" value="https://dev.azure.com/{Organisation}/{Project}/_apis/wit/workitems/{0}?$expand=all&amp;api-version=6.1-preview.3" />
    <add key="createWorkItem" value="https://dev.azure.com/{organization}" />
  </appSettings>
</configuration>